#control-area{
	padding:10px;
}

#loadingJSON{
	width: 500px;
}

#sheetArea{	
	border:1px solid black;
	position: relative;
	height:100%;
}

.sheetItem
{
	position: absolute;
	float: left;
	padding:5px;

	border-style:solid;
	border-width:5px;
	border-color: #EBF5FF;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.beingEdited
{
	border-color: #99CCFF;
}

.ready-for-interaction .loading-message{
	display: none;
}